{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> header background=@site.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
<div class="inner">
    <div class="site-header-content">
        <h1 class="site-title">
            {{#if @site.logo}}
                <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}"/>
            {{else}}
                {{@site.title}}
            {{/if}}
        </h1>
        <style>.site-nav {
            top: 0 !important;
        }

        .site-nav-left {
            margin-right: 0 !important;
        }</style>
        <h2>{{> "site-nav"}}</h2>
    </div>
</div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">


    {{#get "posts" include="tags,authors"}}
        <section class="inner">
            <h2 class="section-headline">Blog</h2>
            <div class="post-feed">
                {{#foreach posts}}
                    {{#has tag="project"}}
                        {{!-- do nothing, we don't wan't to render those posts that are a project --}}
                    {{else}}
                        {{> "post-card"}}
                    {{/has}}
                {{/foreach}}
            </div>
        </section>
    {{/get}}
</main>
